<head>
  <title>Gator</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
</head>

<body ng-app="Gator" lang="en" ng-controller="EventCtrl">
  <!-- Nav Section -->
  <p id="status" style="color:red; display:none;">
    <noscript>JavaScript is disabled.</noscript>
  </p>
	<nav>
		<div>
			<img id="menu-icon" class="menu-icon" src="https://pbs.twimg.com/profile_images/419236285346086912/ErbuJL4t_400x400.jpeg"/>
		</div> 
		<div id="nav">
			<ul class="nav-bar">
				<li id="nav-home-link"><button>Map</a></li>
				<li id="nav-posts-link"><button>Events</a></li>
				<li id="nav-chat-link"><button>Chat</a></li>
				<!-- <li id="nav-logout-link"><button>Logout</a></li> -->
			</ul>
		</div>
	</nav>
  <!-- <div ui-view></div> -->

	<!-- Map Section -->
	<section class="map-section">
		<div id="map">





		</div>
	</section> 


	<!-- posts section -->
	<section class="posts-wrapper">

		<table class="posts-table">
			<tr ng-repeat="event in events">
				<td class="post-pictures"><img src="{{event.image}}"></img></td>
				<td class="post-descriptions">{{event.text}} <button class="delete" ng-click="events.remove(event)">&times;</button>
 </td>
			</tr>
		</table>

		<button>Post an Event</button>

	</section>




	<!-- Add Posts section -->
	<section class="add-post-section">

		<div>
  <video id="video" width="320" height="200"></video>
  <canvas id="photo" style="display:none;" width="320" height="280"></canvas>
		</div> 

		<div>
		  <textarea id="eventDescription" rows="4" cols="50"></textarea>
		</div>

		<div>
			<button id="takePicture">Take Picture</button> 
		</div>

		<div>
			<button id="submitEvent" disabled="true"> Submit </button> 
		</div> 


	</section> 

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaTx6ITrcQd6gRsiyCV8ESqjzSR8HPsdc&callback=initMap"
        async defer></script>

</body>



