<head>
  <title>Gator</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
</head>

<body ng-app="Gator" lang="en" ng-controller="EventCtrl">
  <!-- Nav Section -->
  <p id="status" style="color:red; display:none;">
    <noscript>JavaScript is disabled.</noscript>
  </p>

	<nav>
		<div>
			<img id="menu-icon" class="menu-icon" src="/images/navmenuicon2.png"/>
		</div> 
		<div id="nav">
			<ul class="nav-bar">
				<li id="nav-home-link" class="nav-link"><button>Map&nbsp;<i class="fa fa-map-marker"></i></button></li>
				<li id="nav-posts-link"  class="nav-link"><button>Events&nbsp;<i class="fa fa-bullhorn"></i></button></li>
				<li id="nav-group-link"  class="nav-link"><button>GroupUp&nbsp;<i class="fa fa-users"></i></button></li>
				<li id="nav-addpost-link"  class="nav-link"><button>Add Event&nbsp;<i class="fa fa-picture-o"></i></button></li>
			</ul>
		</div>
	</nav>
  <!-- <div ui-view></div> -->

	<!-- Map Section -->
	<section class="map-section" id="map">
		<div id="map-sec">





		</div>
	</section> 
	<div class="map-header" id="map-header">
		<img src="/images/logo.png">
		<p> take a bite outta' life </p> 
	</div>


	<!-- events section -->
	<section class="posts-wrapper" id="posts" style="display:none;">

		<div id="post-event-button-container">
			<button id="post-event-button">Post an Event</button>
		</div>
		<table class="posts-table">
			<tr ng-repeat="event in events">
				<td class="post-pictures" >
					<img src="{{event.image}}" style="width:100%;"></img>
				</td>
				<td class="post-descriptions">{{event.text}} 
					<button class="delete" ng-click="events.remove(event)">&times;</button>
				</td>
			</tr>
		</table>


		<!-- <button id="post">Post an Event</button> -->
		<!-- DO NOT DELETE POST EXAMPLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!! or die -->
		<button id="postExamples"></button>

	</section>

		<!-- Group Up Section -->
		<div id="groupup-image-container" style="display:none;">
			<img src="/images/GroupUp.jpg"/>
		</div>


	<!-- Add Posts section -->
	<section class="add-post-section" id="add-post" style="display:none;">

		<div class="viewport-container">
  			<video id="video" width="100%"></video>
  			<canvas id="photo" style="display:none;" width="100%"></canvas>
		</div> 

		<div class="take-picture-container">
			<button id="takePicture"><i class="fa fa-camera"></i></button> 
		</div>

		<div class="add-description-container">
		  <input id="eventDescription" rows="4" cols="50" placeholder="Type short description here..." />
		</div>


		<div class="submit-event-container">
			<button id="submitEvent" disabled="true"><i class="fa fa-angle-double-right"></i></button> 
		</div> 


	</section> 

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaTx6ITrcQd6gRsiyCV8ESqjzSR8HPsdc&callback=initMap"
        async defer></script>

</body>



