/* CSS declarations go here */
body {
    height: 100%;
	padding: 0;
	margin:0;
}

/******************* Map Section Styling ***************/

#map {
	height: 1200px;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map-sec {
	height: 100%;
	width: 100%;
}


.map-header {
	background-color: #028090;
	height: 545px;
	width: 100%;
	color:lightgrey;
	text-align: center;
}

.map-header p {
	font-family: 'Nothing You Could Do', cursive;
	/*font-family: Futura;*/
	font-size: 80px;
	font-weight: 900;
	line-height: 124px;
}

/******************* Nav Bar Styling ***************/

#nav {
	display: none;
	height: 1000px;
}

.menu-icon {
	position: absolute;
	float: right;
	width: 110px;
	height: 110px;
	z-index: 100;
	right: 0%;
}

.nav-bar {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	color: white;
}

.nav-bar li {
	width: 100%;
	height: 410px;
	margin: 0;
	padding: 0;
	line-height: 410px;
	font-family: Arial;
	font-size: 100px;
	font-weight: 900;
	background-color: #02a8c2;
}

.nav-link button {
	background-color: transparent;
	color: white;
	text-decoration: none;
	border: none;
}

#nav-home-link {
	background-color: #05668D;
}

#nav-posts-link {
	background-color: #028090;

}

#nav-chat-link {
	background-color: #00A896;
}

#nav-addpost-link {
	background-color:  #02C39A;
}


/******************* Login Page Styling ***************/ 

.login-wrapper {
	height: 100%;
	position: absolute;
	width: 100%;
}

.hero-background {
	overflow: hidden;
	height: 70%;
	/*position: relative;*/
	background-color: #02b675;
}

.logo-image-container {
	/*position: absolute;*/
	width: 100%;
	/*height: 90%;*/
	text-align: center;
	top: 50%;
	/*transform: translate(-50%, -50%);*/	
}

.logo-image-container img {
	display: inline-block;
	width: 50px;
	height: 50px;
	/*top: 50%;*/
}

.login-form-container {
	width: 100%;
	height: 30%;
	/*height: 200px;*/
	background-color: white;
}

.login-button-container {
/*	padding: 0;
	margin: 0;
	width: 100%;*/
	height: 50%;
	/*text-align: center;*/
}

.login-button-container input {
	background-color: white;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 48px;
}



/******************* Posts Page Styling ***************/

.posts-wrapper {
	height: 100%;
	/*float: left;*/
}

.posts-table {
	width: 100%;
}
.posts-table tr {
	width: 100%;
	background-color: #028090;
}

.posts-table td {
	width: 50%;
}


.posts-pictures img {
	width: 100%;
}

.post-pictures {
	width: 50%;
	height: 100%;
	float: left;
	background-color: black;
}

.post-descriptions {
	float: right;
	/*height: 100%;*/
	width: 50%;
	background-color: #028090;
	padding: 20px;
	height: 100%;
	color: white;
	font-size: 48px;

}

#post-event-button {
	height: 110px;
	text-align: center;
	font-size: 45px;
	width: 100%;
	background-color: #02C39A;
	border:none;
	color: white;
}



/******************* Add Events Page Styling ***************/


.viewport-container {
	width: 100%;
}

#photo {
	width: 100%;
}

.add-description-container {
	width: 100%;
	text-align: center;
	margin: 20px 0 10px;
}

#eventDescription {
	padding: 20px;
	width: 100%;
	height: 525px;
	background-color: #D0CFCF;
	border: none;
	font-size: 48px;
}

.take-picture-container {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

#takePicture {
	width: 100%;
	height: 200px;
	padding: 0;
	margin: -20px;
	border: none;
	background-color: #00A896;
	font-size: 70px;
}


.submit-event-container {
	width: 100%;
}

#submitEvent {
	width: 100%;
	height: 200px;
	background-color: #02C39A;
	border: none;
	font-size: 70px;
	color: white;
	margin: -19px 0;
	padding: 0;
}

.delete {
	float: right;
    position: relative;
    right: -2%;
    color: red;
}

/******************* Add Events Page Styling ***************/


#groupup-image-container img {
	width: 100%;
	height: 1642px;
}







