<!-- Map Section -->
<div class="map">





</div>



<!-- posts section -->
<section class="posts-wrapper" ng-controller="postsController">

 <table class="posts-table">
 	<tr ng-repeat="event in events">
 		<td class="post-pictures">{{event.image}}</td>
 		<td class="post-descriptions">{{event.description}}</td>
 	</tr>
 </table>

<button>Post an Event</button>

</section>




<!-- Add Posts section -->
<section>

	<div>
		<!-- camera view port goes here -->
	</div> 

	<div>
		<input id="eventDescription" type='text' placeholder="Add a Description"/> 
	</div>

	<div>
		<button id="takePicture">Take Picture</button> 
	</div>

	<div>
		<button id="submitEvent"> Submit </button> 
	</div> 


</section> 