<!-- This is the login/splash page for this app -->
<section class="login-wrapper">
	<div class="hero-background">
		<div class="logo-image-container">
			<!-- <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS2t4XO1DWOHNtOQ9wITy82c0N4Qv9NqlLbk-V_efQZA87dFGMdcxO62w" /> -->
			<img src="/public/GatorLogo.jpg">
		</div>
	</div>

	<div class="login-form-container">
		<div class="login-button-container">
			<input type="button" value="Login with Facebook "/>
		</div>
		<div class="login-button-container">
			<input type="button" value="Login with Twitter"/>
		</div>
	</div>
</section>